<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookService" class="com.felix.unbiz.json.rpc.service.impl.BookServiceImpl">
    </bean>

    <bean id="bookServiceExporter" class="com.felix.unbiz.json.rpc.server.JsonRpcExporter">
        <property name="serviceInterfaceName" value="com.felix.unbiz.json.rpc.service.BookService"></property>
        <property name="serviceBean" ref="bookService"></property>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>studentService</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
            </list>
        </property>
    </bean>

</beans>